# Base de datos SQLite (archivo local)
DATABASE_URL="file:./db/custom.db"

# NextAuth.js Configuration
NEXTAUTH_SECRET="your-secret-key-here-generate-with-openssl-rand-base64-32"
NEXTAUTH_URL="http://localhost:3000"

# Opcional: URL pública para producción
# NEXTAUTH_URL="https://your-domain.com"